*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

body{
    background-color: #080a0a;
    animation: fadeInAnimation ease 3s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }

        @keyframes fadeInAnimation {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
nav{
    width: 100%;
    height: 5%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.27);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px black;
    z-index: 1;

}
nav .logo{
    width: 100px;
    margin-top: 5px;
}
.nav-links{
    flex: 1;
    text-align: right;
    margin-bottom: 20px;
    margin-top: 20px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.row{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    animation: fade-up 1.5s;
    animation-timeline: view();
    animation-range: entry 0;
    margin-bottom: 0;

}
@keyframes fade-up{
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.5);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
.container1{
    flex-basis: 32%;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    position: relative;
}
.container1 img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.container2{
    text-align: left;
    flex-basis: 70%;
    background: #080a0a;
    margin-bottom: 3%;
    border-radius: 10px;
    position: relative;
    color: white;
    margin-left: 50px;
    margin-top: 45px;
}
.container2 h2{
padding: 90px 0;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    border-radius: 10px;
}
.layer:hover{
    background: rgba(0,0,0,0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    text-align: center;
    margin-bottom: 30px;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

.content{
    text-align: center;
}
.content h1{
    font-size: 90px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 0;
}
.content h3{
    font-size: 25px;
    color: #fff;
    font-weight: 600;
    margin-top: -35px;
    margin-bottom: 0;
}

.content p{
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    margin-top: -10px;
    font-style: italic;
    
}
.fade {
    animation: fadeIn 5.5s;
}
@keyframes fadeIn{
    0% {opacity: 0%}
    100% {opacity: 1;}
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -2;
 
}

@media (min-aspect-ratio: 16/9){
    .back-video{
     width: 100%;
     height: auto;
    }
}


@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

.music{
    bottom: 0; 
    position: absolute; 
    right: 0;
    opacity: 2%;
    z-index: 1;
}

/*---about---*/
.about{
    width: 90%;
    margin: auto;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 100px;
    animation-timeline: view();
    animation-range: entry 0;
}
.about h1{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 0;
    position: relative;
    width: max-content;
    color: white;
}
.about h1::after{
    content: '';
    background: linear-gradient(to right, #59D4FF, #1025BF, #0D1524);
    height: 4px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.about h2{
    font-size: 18px;
    font-weight: 300;
    margin-top: 5px;
    color: white;
    margin-bottom: 15px;
    
}
.icons{
    color: white;
    margin: 40px -10px;
    cursor: pointer;
    padding: 0 50px;
    text-align: center;
   margin-bottom: -30px;
}

.fa-arrow-left {
  color: white;
}

.fa-arrow-right {
  color: white;
}

/*---footer---*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    margin-top: -100px;
}

.footer h4{
    margin-bottom: 0px;
    margin-top: 10px;
    font-weight: 600;
    color: white;
}
.footer p{
    font-size: 10px;
    color: white;
}